{% extends 'base_title.html' %}

{% block container %}

    <section>
        <div class="container">
            <h2>Create an event to share with friends</h2>
            <div class="form-card-div">
                <form class="form" action="{{ url_for('announce_my_event') }}" method="post">
                    <div class="input">
                        <input class="input_field" type="text" name="eventname" required>
                        <label class="input_label" for="eventname">Event Name:</label>
                    </div>

                    <div class="input">
                        <input class="input_field" type="text" name="time" required>
                        <label class="input_label" for="time">Time:</label>
                    </div>

                    <div class="input">
                        <input class="input_field" type="text" name="date" required>
                        <label class="input_label" for="date">Date:</label>
                    </div>

                    <div class="input">
                    <input class="input_field" type="text" name="place" required>
                    <label class="input_label" for="place">Place:</label>
                    </div>
                
                    {% for item in user.friends %}
                        <label class="input_label">
                            <input type="checkbox" name="friends_selected" value="{{ item }}">
                            {{ item }}
                        </label><br>
                    {% endfor %}

                    <input type="submit" value="Create Event" class="form-button">
                </form>
            </div>
        </div>
    </section>
{% endblock %}