<!DOCTYPE html>
<html>
  <head>
    <title>Treasure Trove</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
    />
  </head>
  <body>
    <div>
      <header>
        <form action="/home" metho="GET">
          <!-- query_type is to be replaced with posts/friends/etc. -->
          <input type ="search" name="query" placeholder="Search {{query_type}}...">
          <button type="submit">Search</button>
        </form>
      </header>


      <main>{% block container %} {% endblock %}</main>


      <footer>
        <nav>
          <a href="{{ url_for('home')}}">Home</a>
          <a href="{{ url_for('gift')}}">Gift</a>
          <a href="{{ url_for('profile')}}">Profile</a>
        </nav>
      </footer>
    </div>
  </body>
</html>