<!DOCTYPE html>
<html>
  <head>
    <title>Treasure Trove</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
    />
  </head>
  <body>
    <div>
      <header id="login-register-header">
        <h1>Welcome to Treasure Trove</h1>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          &copy; 2024. Source code available at
          <a
            href="https://github.com/software-students-spring2024/2-web-app-exercise-fizzbuzz"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>