<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Treasure Trove</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
    />
  </head>
  <body>
    <main>{% block container %} {% endblock %}</main>
    <div class="footer_">
        <a href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('gift')}}">Gift</a>
        <a href="{{ url_for('profile')}}">Profile</a>
    </div>
  </body>
</html>