{% extends 'profile_base.html' %}

{% block container %}

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .profile-container {
            max-width: 100%;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            margin: 10px;
        }

        #profile-picture {
            max-width: 100%;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        #name, #username {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #friend-bookmark-container {
            margin-bottom: 15px;
        }

        .action-button, button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .action-button:hover, button:hover {
            background-color: #45a049;
        }

        #user-sizes {
            margin-top: 20px;
        }

        #posts {
            margin-top: 20px;
        }

        #posts ul {
            list-style-type: none;
            padding: 0;
        }

        #posts li {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        #delete-button {
            padding: 5px 10px; /* Adjust padding to make the button smaller */
            font-size: 12px;   /* Adjust font size to make the button text smaller */
            background-color: #dc3545; /* Red color for a delete button, you can change it */
            color: #fff; /* White text for better visibility, you can change it */
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #delete-button:hover {
            background-color: #bd2130; /* Darker red color on hover, you can change it */
        }
    </style>

    <div class="profile-container">

        <img src="profile-picture.jpg" alt="Profile Picture" id="profile-picture">

        <div id="name"> {{ user.username }} </div>

        <div id="friend-bookmark-container">
            <div>Friends: {{ friends_size }}</div>
            <div>Bookmarks: {{ bookmarks_size }} </div>
        </div>

        <form action="{{ url_for('show_profile', username=user.username) }}" method="post" id="add_friend">
            <button type="submit" class="action-button">Add Friend</button>
        </form>

    </div>
    <div id="posts_blocked">
        <h1> BLOCKED POSTS </h1>
    </div>

{% endblock %}
