{% extends 'login_register_base.html' %}

{% block container %}

    <section class="login_register">

        <div class="container">

            <h2>Create New Account</h2>
            <div class="form-card-div">
                <form action="/register" method="POST" class="card_form">
                    <div class="error">{{error_message}}</div>
                    <div class="input">
                        <input class="input_field" type="text" name="username" placeholder="Username..." required>
                        <label class="input_label" for="username">Username</label>
                    </div>
                    <div class="input">
                        <input class="input_field" type="email" name="email" placeholder="Email..." required>
                        <label class="input_label" for="email">Email</label>
                    </div>
                    <div class="input">
                        <input class="input_field" type="password" name="password" placeholder="Password..." required>
                        <label class="input_label" for="password">Password</label>
                    </div>
                    <div class="input">
                        <input class="input_field" type="password" name="confirm_password" placeholder="Confirm Password..." required>
                        <label class="input_label" for="confirm_password">Confirm Password</label>
                    </div>
                    <button class="form-button" type="submit">Register</button>
                </form>
                <div class="form-info">
                    <p>Already Have an account <a href = "{{ url_for('login') }}">Log in</a></p>
                </div>
            </div>

        </div>

    </section>

{% endblock %}